@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("/fonts/sofia-pro-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("/fonts/sofia-pro-regular-italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("/fonts/sofia-pro-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("/fonts/sofia-pro-medium-italic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("/fonts/sofia-pro-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("/fonts/sofia-pro-bold-italic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

/* Apply globally */
body {
  font-family: "Sofia Pro", sans-serif;
  background-color: #F0F0F0; /* Light Grey */
}

@layer components {
  select {
    @apply w-full border p-2 pr-10 rounded bg-gray-100 appearance-none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='gray'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
  }
}
